.separator.separator--page-head
  .grid-container.grid-container--19
    h1.page-head
      | プロフィール
      span.small -profile-

.separator.separator--content
  .grid-container.grid-container--19
    .content
      .profile-content
        .profile-content__left
          p.profile-content-thumb
            img(src=rootPath('img/profile/mochimochimoon.jpg'), alt="")
        .profile-contente__right
          .profile-content__name
            p.profile-content-name mochimochimoon
          .profile-content__description
            p.profile-content-description しがないエンジニア
          .profile-content__description
            p.profile-content-description
              a(href="https://github.com/mochimochimoon").hover https://github.com/mochimochimoon
