.separator.separator--page-head
  .grid-container.grid-container--19
    h1.page-head
      span.small products
      | つくったもの置き場

.separator.separator--head
  .grid-container.grid-container--19
    .content
      article.products-content
        .products-content__head
          h2.products-content-head プログラミング
        ul.products-content__list
          li.products-content__item
            section.products-item
              .products-item__left
                .products-item__head
                  h2.products-item-head WEB開発環境
                .products-item__description
                  .products-item-description
                    p WEBサイトコーディング作業を簡略化するための開発環境
                .procuts-item__detail
                  table.products-item-detail
                    tr
                      th 格納先
                      td
                        a(href="").hover 格納先
                    tr
                      th 使用言語
                      td Javascript, Node.js, pug, ejs, sass(scss), Vue.js
                    tr
                      th 仕様
                      td
                        span.wrap srcファイルを元にWEB用ファイル（HTML/CSS/JS/画像/その他）ファイルを出力する
                        span.wrap 1. 各ファイルの変換にも対応
                        span.wrap .pug/.ejs→.html, .scss→.css, .vue→.js
                        span.wrap 2. 仮想サーバを立ち上げたリアルタイムプレビュー機能を搭載
              //- .products-item__right
              //-   p.products-item-thumb
