@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=RocknRoll+One&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

.content {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 25px;
  margin: 0 auto;
  min-height: 100px;
  overflow: hidden;
}

.hover:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.wrap {
  display: block;
}

img {
  max-width: 100%;
}

.page-head {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  font-family: "Darumadrop One", cursive;
  line-height: 1;
}
.page-head .small {
  font-size: 0.7em;
  margin-left: 0.5em;
}

.container {
  box-sizing: border-box;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
    padding: 0 20px;
  }
}

.grid-container {
  max-width: 357.5px;
  margin: 0 auto;
}
@media screen and (min-width: 1240px) {
  .grid-container {
    max-width: 1068.1818181818px;
  }
}

footer {
  z-index: -1;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  background: #637e1a;
}

.footer-content {
  height: 30px;
  position: relative;
}
@media screen and (min-width: 1240px) {
  .footer-content {
    height: 50px;
  }
}
.footer-content::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  background-image: url("../img/yama.png"), url("../img/mochi.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom 10px right;
  background-size: auto 100px, auto 100px;
}
@media screen and (min-width: 1240px) {
  .footer-content::after {
    background-position: bottom left, bottom 10px right;
    background-size: auto 150px, auto 200px;
  }
}

.header {
  height: 30px;
}
@media screen and (min-width: 1240px) {
  .header {
    height: 50px;
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  opacity: 0.95;
  line-height: 1;
}

.header-content {
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1240px) {
  .header-content {
    height: 50px;
  }
}
.header-content__content {
  display: flex;
  flex: 0 0 auto;
}
.header-content__content:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 1240px) {
  .header-content__content:not(:last-child) {
    margin-right: 20px;
  }
}
.header-content__content--home {
  flex-basis: 25px;
}
@media screen and (min-width: 1240px) {
  .header-content__content--home {
    flex-basis: 37.2727272727px;
  }
}
.header-content__content--link {
  flex-basis: 60px;
}
@media screen and (min-width: 1240px) {
  .header-content__content--link {
    flex-basis: 151.8181818182px;
  }
}

.header-content-home {
  width: 100%;
  color: #fff;
  font-size: 25px;
  color: #393969;
}
@media screen and (min-width: 1240px) {
  .header-content-home {
    font-size: 37.2727272727px;
  }
}
.header-content-home__link {
  display: inline-block;
}

.header-content-link {
  font-family: "Darumadrop One", cursive;
  background-color: #393969;
  width: 100%;
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
@media screen and (min-width: 1240px) {
  .header-content-link {
    height: 37.2727272727px;
    font-size: 20px;
  }
}
.header-content-link.is-disable {
  background: #ccc;
  pointer-events: none;
}

.products-content__head {
  border-bottom: #ccc 1px solid;
  padding-bottom: 10px;
}
.products-content__item {
  padding-top: 20px;
}
.products-content__item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}

.products-content-head {
  font-size: 20px;
  font-weight: 700;
}
.products-content-head::before {
  content: "■";
  margin-right: 0.25em;
}

@media screen and (min-width: 1240px) {
  .products-item {
    display: flex;
  }
}
.products-item__content {
  margin-bottom: 10px;
}
@media screen and (min-width: 1240px) {
  .products-item__content {
    flex: 1 1 auto;
  }
}
@media screen and (min-width: 1240px) {
  .products-item__thumb {
    margin-bottom: 0;
    flex: 0 0 300px;
    margin-left: 20px;
  }
}
.products-item__head {
  margin-bottom: 10px;
}
.products-item__description {
  margin-bottom: 10px;
}
.products-item__url {
  margin-bottom: 10px;
}

.products-item-head {
  font-size: 16px;
  font-weight: 700;
}
.products-item-head::before {
  content: "・";
}

.products-item-description {
  font-size: 14px;
  line-height: 1.6;
  margin: -0.3em 0;
}

.products-item-url {
  font-size: 14px;
  line-height: 1.6;
  margin: -0.3em 0;
}
.products-item-url a {
  display: inline-block;
  text-decoration: underline;
  color: #06c;
}

.products-item-detail {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
}
.products-item-detail th {
  padding-right: 1em;
  white-space: nowrap;
}
.products-item-detail td a {
  display: inline-block;
  text-decoration: underline;
  color: #06c;
  word-break: break-all;
}

.products-item-thumb {
  width: 300px;
  background: #ccc;
}

@media screen and (min-width: 1240px) {
  .profile-content {
    display: flex;
  }
}
.profile-content__thumb {
  margin-bottom: 20px;
}
@media screen and (min-width: 1240px) {
  .profile-content__thumb {
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1240px) {
  .profile-content__body {
    flex: 1 1 auto;
  }
}
.profile-content__name {
  margin-bottom: 16px;
}
@media screen and (min-width: 1240px) {
  .profile-content__name {
    margin-bottom: 24px;
  }
}
.profile-content__description:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1240px) {
  .profile-content__description:not(:last-child) {
    margin-bottom: 16px;
  }
}

.profile-content-thumb {
  text-align: center;
}

.profile-content-name {
  font-size: 24px;
  font-weight: 700;
}

.profile-content-description {
  font-size: 16px;
}
.profile-content-description a {
  color: #06c;
  text-decoration: underline;
}

.separator--top-page-head {
  margin-bottom: 60px;
}
@media screen and (min-width: 1240px) {
  .separator--top-page-head {
    margin-bottom: 30px;
  }
}
.separator--page-head {
  margin-bottom: 20px;
}
.separator--content:not(:last-child) {
  margin-bottom: 20px;
}

body {
  background-color: #393969;
  background-image: url("../img/tsuki.png");
  background-repeat: no-repeat;
  background-position: top 100px left -10px;
  background-attachment: fixed;
  background-size: auto 100px;
}
@media screen and (min-width: 1240px) {
  body {
    background-position: top 100px left 20px;
    background-attachment: fixed;
    background-size: auto 150px;
  }
}

main {
  display: block;
}

.main-container {
  padding: 20px 0;
}

.top-page-head {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: "RocknRoll One", sans-serif;
}
@media screen and (min-width: 1240px) {
  .top-page-head {
    font-size: 60px;
  }
}
.top-page-head__item {
  display: block;
}
@media screen and (min-width: 1240px) {
  .top-page-head__item {
    display: inline;
  }
}

.tokkan {
  text-align: center;
}