.header {
  height: 30px;
  @include pc() {
    height: 50px;
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  opacity: .95;
  line-height: 1;
}

.header-content {
  height: 30px;
  @include pc() {
    height: 50px;
  }
  align-items: center;;
  display: flex;
  justify-content: space-between;
  &__content {
    display: flex;
    flex: 0 0 auto;
    &:not(:last-child) {
      margin-right: 10px;
      @include pc() {
        margin-right: 20px;
      }
    }
    &--home {
      flex-basis: gridWidth(2);
      @include pc() {
        flex-basis: gridWidth(1, $breakpoint, 20);
      }
    }
    &--link {
      flex-basis: gridWidth(4);
      @include pc() {
        flex-basis: gridWidth(3, $breakpoint, 20);
      }
    }

  }
}

.header-content-home {
  width: 100%;
  color: #fff;
  font-size: gridWidth(2);
  @include pc() {
    font-size: gridWidth(1, $breakpoint, 20);
  }
  color: #393969;
  &__link {
    display: inline-block;
  }
}

.header-content-link {
  font-family: 'Darumadrop One', cursive;
  background-color: #393969;
  width: 100%;
  height: gridWidth(2);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  @include pc() {
    height: gridWidth(1, $breakpoint, 20);
    font-size: 20px;
  }
  &.is-disable {
    background: #ccc;
    pointer-events: none;
  }
}
