.profile-content {
  display: flex;
  &__left {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  &__right {
    flex: 1 1 auto;
  }
  &__name {
    margin-bottom: 24px;
  }
  &__description {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.profile-content-name {
  font-size: 24px;
  font-weight: 700;
}

.profile-content-description {
  font-size: 16px;
  a {
    color: #06c;
    text-decoration: underline;
  }
}
