.separator {
  &--top-page-head {
    margin-bottom: 60px;
    @include pc() {
      margin-bottom: 30px;
    }
  }
  &--page-head {
    margin-bottom: 20px;
  }
  &--content {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
