body {
  background-color: #393969;
  background-image: url('../img/tsuki.png');
  background-repeat: no-repeat;
  background-position: top 100px right -10px;
  background-attachment: fixed;
  background-size: auto 100px;
  @include pc() {
    background-position: top 100px right 20px;
    background-attachment: fixed;
    background-size: auto 150px;
  }
}

main {
  display: block;
}

.main-container {
  padding: 20px 0;
}

