
-
  const path = data.module['node-module'].nodePath();
  const url = data.module['node-module'].nodeUrl();
-
  const rootPath = (relative) => {
    const toBase = path.relative(path.dirname(filename), 'src/pug/base');
    return path.join(toBase, relative);
  }
