@import '_reset/**/*';

$breakpoint: 1240;

@mixin pc() {
  @media screen and (min-width: #{$breakpoint}px) {
    @content;
  }
}

@function gridWidth($num, $containerWidth: 375, $gap: 10) {
  $length: 22;
  $grid: ($containerWidth + $gap) / $length - $gap;
  @return #{($gap + $grid) * $num - $gap}px;
}

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=RocknRoll+One&display=swap');

@import './_import/**/*';
