header.header
  .header-fixed
    .container
      .header-content
        .header-content__content
          .header-content__content.header-content__content--home
            h1.header-content-home
              a(href=rootPath('.')).header-content-home__link.hover
                span.fas.fa-home
          .header-content__content
            .header-content__content.header-content__content--link
              a(href=rootPath('profile')).header-content-link.hover プロフィール
            .header-content__content.header-content__content--link
              a(href=rootPath('products')).header-content-link.hover つくったもの
            .header-content__content.header-content__content--link
              a(href=rootPath('works')).header-content-link.hover.is-disable おしごと
