header.header
  .header-fixed
    .container
      .header-content
        .header-content__content
          .header-content__content.header-content__content--1grid
            h1.header-content-home
              a(href="/").header-content-home__link.hover
                span.fas.fa-home
          .header-content__content
            .header-content__content.header-content__content--3grid
              a(href="").header-content-link.hover.is-disable profile
            .header-content__content.header-content__content--3grid
              a(href="/products").header-content-link.hover products
            .header-content__content.header-content__content--3grid
              a(href="").header-content-link.hover.is-disable works
